{% include 'partials/header.html' %}
<div class="home">
	<div class="hero">
		<div class="container">
			<h1>XMEN Fullstack Framework</h1>

			<a href="https://github.com/johntayl/xmen" target="_blank">View on GitHub <i class="fa fa-github"></i></a>
		</div>
	</div>

	<div class="content">
		<div class="container">
			<div class="col-4">
				<div class="icon">
					<i class="fa fa-connectdevelop"></i>
				</div>

				<p>
					XMEN Framework allows you to rapidly develop while keeping your code structured.
				</p>
			</div>
			<div class="col-4">
				<div class="icon">
					<i class="fa fa-database"></i>
				</div>

				<p>
					Taking advantage of MongoDB allows for cross-platform document-oriented database support.
				</p>
			</div>

			<div class="col-4">
				<div class="icon">
					<i class="fa fa-users"></i>
				</div>

				<p>
					XMEN is Open Source and made by community developers.
				</p>
			</div>
		</div>
	</div>

	<div class="intro">
		<div class="container">

			<h1>Getting Started</h1>

			<h3>Step 1:</h3>

			<p>Download and install <a href="https://www.mongodb.org/" target="_blank">MongoDB</a> and <a href="https://nodejs.org/" target="_blank">Node.js</a></p>

			<h3>Step 2:</h3>

			<p>Clone the repo:
				<pre>git clone git@github.com:johntayl/xmen.git</pre>
			</p>

			<h3>Step 3:</h3>

			<p>Run NPM install
				<pre>npm install</pre>
			</p>

			<h3>Step 4:</h3>

			<p>Run the server!
				<pre>node server.js</pre>
			</p>

		</div>
	</div>

</div>

{% include 'partials/footer.html' %}
